body {
  padding: 20;
  margin: 20;
  }
  * {
    box-sizing: border-box;
  }
background-color {
  color:#2aabe4}

#map,
body, 
html {
  height: 100%;
}

h1 {
  padding-top: 5px;
  padding-bottom: 5px;
}

p {
  padding-top: 5px;
  padding-right: 25px;
  padding-bottom: 5px;
  padding-left: 25px;
  font-size: x-large;
}

.column {
  width: 100%;
  padding: 16px;
  display: block;
  margin-bottom: 20px;
  padding: 1em 2em;
  column-gap: 20px
}


.card {
  background-color: #9dc8e4;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  flex: auto;
}
.row {margin: 0 -5px;}

.row:after {
  display: table;
  clear: both;
}

.card-header {
  padding: 2%;
}

.navbar{
  font-size: xx-large;
}


